.RootLayout {
  display: flex;
  justify-content: center;
  min-height: inherit;

  &__content {
    max-width: 1184px;
    width: 100%;
    border: 2px solid red;
    padding: 52px 44px 80px;
  }
}


